@charset "utf-8";
/* CSS Document */


* {
    margin:0; 
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
}

nav {
    margin:auto;
    text-align: center;
    width: 100%;
    font-family: arial;
} 

nav ul {
    background:#429837;
    padding: 0 20px;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
 }

nav ul li{
    float:left;
}

nav ul li:hover{
    background:#8dd69f;
}

nav ul li:hover a{
    color:#000;
}

nav ul li a{
    display: block;
    padding: 25px;
    color: #fff;
    text-decoration: none;
}








body{
	font-family:Cambria;
	padding:0px;
	margin:0px;
	color:#0B5ABB;
	font-size:14px;
}

#signin{
	max-width:350px;
	margin:150px auto;
	position:relative;
	display:block;
	background-color:#FFFFFF;
	box-shadow:0 0 5px #0B5ABB;
	text-align:center;
}

#signin img{
	margin:-60px;
	margin-left:-50px;
	border-radius:50%;
}

#signin h3{
	text-align:center;
	color:#0B5ABB;
	font-size:24px;
	padding-top:60px;
}

#signin p{
	text-align:center;
	color:#0B5ABB;
	font-size:14px;
}

fieldset{
	margin:10px;
	border:none;
}

input[type="text"],
input[type="password"],
textarea, select{
	width:90%;
	padding:0.8em;
	margin-top:1em;
	border:1px solid #0B5ABB;
	background-color:#FFFFFF;
	font-family:Cambria;
	font-size:14px;
	color:#0B5ABB;
	text-align:center;
	border-radius:5px;
}

input[type="submit"]{
	width:auto;
	margin-top:0.9em;
	color:#FFFFFF;
	background-color:#0B5ABB;
	padding:0.8em;
	cursor:pointer;
	font-family:Cambria;
	font-size:14px;
	border-radius:5px;
}

.grid{
	width:100%;
	padding-top:0px;
	padding-bottom:0px;
	overflow:hidden;
}

.dh1{ width:8.33%; }
.dh2{ width:16.66%; }
.dh3{ width:24.99%; }
.dh4{ width:33.33%; }
.dh5{ width:41.66%; }
.dh6{ width:49.99%; }
.dh7{ width:58.33%; }
.dh8{ width:66.66%; }
.dh9{ width:74.99%; }
.dh10{ width:83.33%; }
.dh11{ width:91.66%; }
.dh12{ width:99.99%; }

.dh1, .dh2, .dh3, .dh4, .dh5, .dh6, .dh7, .dh8, .dh9, .dh10, .dh11, .dh12{
	float:left;
	display:inline;
	margin:0 0%;
}

@media screen and (max-width:720px){
	.dh1, .dh2, .dh3, .dh4, .dh5, .dh6, .dh7, .dh8, .dh9, .dh10, .dh11, .dh12{
		width:100%;
		margin-bottom:1em;
	}
}

/* Bagian Menu */
.sidenav{
	height:100%;
	width:0px;
	position:fixed;
	z-index:1;
	top:0;
	left:0;
	background-color:#0B5ABB;
	overflow-x:hidden;
	padding-top:60px;
}

.sidenav img{
	margin:0px;
	margin-left:100px;
	border-radius:50%;
	border:3px solid #FFFFFF;
}

.sidenav a{
	padding:8px 8px 8px 32px;
	text-decoration:none;
	font-size:20px;
	color:#FFFFFF;
	display:block;
	transition:0.3s;
}

.sidenav a:hover{
	color:#5AADAD;
}

.sidenav h3{
	text-align:center;
	color:#FFFFFF;
	font-size:20px;
	padding-top:-30px;
}

.sidenav p{
	text-align:center;
	color:#FFFFFF;
	font-size:14px;
}

.sidenav .closebtn{
	position:absolute;
	top:0;
	right:25px;
	font-size:36px;
	margin-left:50px;
}

@media screen and (max-height:450px){
	.sidenav { padding-top:15px; }
	.sidenav a{ font-size:18px; }
}

.container1{
	background-color:#0B5ABB;
	height:40px;
	color:#FFFFFF;
	font-family:Cambria;
	font-size:20px;
	padding-left:20px;
	padding-top:20px;
	margin-bottom:20px;
}

.container2{
	background-color:#FFFFFF;
	padding:20px;
}

#boxval{
	max-width:95%;
	height:50px;
	margin:0px auto;
	position:relative;
	display:block;
	background-color:#0B5ABB;
	border-radius:5px;
}

#boxval h3{
	float:right;
	color:#FFFFFF;
	font-size:30px;
	margin-top:5px;
	margin-right:30px;
	font-family:Century Gothic;
}

#boxval p{
	float:left;
	color:#FFFFFF;
	font-size:24px;
	margin:10px;
	margin-left:30px;
	font-family:Century Gothic;
}

/* Tombol */
.btn{
	padding:9px 9px;
	text-align:center;
	border:1px solid transparent;
	border-radius:4px;
	font-family:Cambria;
	font-size:14px;
	margin-top:10px;
	width:auto;
}

.btn-add{
	color:#FFFFFF;
	background-color:#0B5ABB;
	cursor:pointer;
}

.btn-add:hover{
	background-color:#59ACFF;
}

.btn-dis{
	background-color:#59ACFF;
	color:#FFFFFF;
}

/* Carding */
.card{
	margin:10px;
	min-height:230px;
	border:thin;
	box-shadow:2px 2px 4px 2px rgba(0,0,0,0.2);
	padding-bottom:10px;
}

.kepalacard{
	padding:10px;
	background-color:#0B5ABB;
	color:#FFFFFF;
	font-family:Century Gothic;
	font-size:20px;
}

.isicard{
	padding-left:10px;
	padding-right:10px;
	background-color:#FFFFFF;
	color:#0B5ABB;
	min-height:185px;
	font-size:14px;
}

.isicard hr,
.isicard img{
	border:1px solid rgba(0,0,0,0.2);
}

.isicard big{
	font-size:18px;
	font-weight:bold;
}

.kakicard{
	padding-left:10px;
	padding-right:10px;
	background-color:#FFFFFF;
	color:#0B5ABB;
	text-align:right;
	min-height:50px;
}
.h3k{
	margin-left: 19%;
	font-family: Arial, Helvetica, sans-serif;
}

.table1 {
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #f2f5f7;
}
 
.table1 tr th{
    background: #429837;
    color: #fff;
    font-weight: normal;
}
 
.table1, th {
    padding: 8px 20px;
    text-align: center;
}
.table1, td{
	padding: 8px 20px;
	text-align: left;
}
 
.table1 tr:hover {
    background-color: #f5f5f5;
}
 
.table1 tr:nth-child(even) {
    background-color: #f2f2f2;
}
.total{
	padding-left: 10px;
	padding-right:unset ;
}
.total h3{
	color: rgb(233, 19, 19);
}